#root {
  max-width: auto;
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
}

body {
  background: #1c1c1e !important;
  color: #fff !important;
  font-family: "Kanit", sans-serif;
}

.font {
  font-family: "Kanit", sans-serif !important;
}

.fontOne {
  font-family: "Orbitron", sans-serif;
}
